
.page {
    display: flex;
    flex-direction: column;

}

.main{
    flex: 1;
}

.content{
    flex: 1;
    height: 94.4vh;
    margin-left: 220px;
    padding: 20px;
    background: gray;
}


.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100%;
    background-color: #2d2d2d;
    overflow-y: auto;
}


.sidebar .nav-item{
    display: flex;
    align-items: center;
    width: 100%;
    text-decoration: none;
    font-size: 50px;
}



.nav-item-text{
    padding: 20px;
    vertical-align: middle;
    font-size: 1.7vh;
    color: white;
}

.sidebar .nav-item:hover{
    background-color: #3d3d3d;
}

.sidebar .active {
    background-color: #444;
}

.sidebar .nav-item .icon {
    padding-top: 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
}




