.customer-table{
    width: 100%;
    border-collapse: collapse;
}

.table-container{
    overflow-x:auto;
    margin-top: 20px;
}

button{
    background-color: #2d2d2d;
    color: lightyellow;
}

input{
    background-color: #2d2d2d;
    color: lightyellow;
}


.form-container{
    display: block;
    width: auto;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
}

.customer-table th, .customer-table td{
    padding: 8px;
    text-align: center;
}

.customer-table, .customer-table th, .customer-table td{
    border: 1px solid black;
    border-collapse: collapse;
}
h3{
    font-weight: bold;
    font-size: 50px;
}