@page "/job"
@inject IWorkService WorkService
@using CarMechanic.Shared
@using CarMechanic.UI.Services

<PageTitle>Works</PageTitle>

<h3>Job List</h3>

@if (_works is not null)
{
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Customer Id</th>
            <th>License Plate</th>
            <th>Customer Id</th>
            <th>Manufacturing Year</th>
            <th>Work Description</th>
            <th>Fault</th>
            <th>Status</th>
            <th>Hour Estimation</th>
        </tr>
        </thead>
    </table>
}
else
{
    <p>Loading....</p>
}

@code{

    private List<Work> _works;

    protected override async Task OnInitializedAsync()
    {
        _works = await WorkService.GetAllWorks();
    }

}